#my-main{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: .3s;
    position: relative;
}

#main-app{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    overflow: auto;
}

/* Sources start */

#sources{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-left: 1px solid rgba(179, 170, 170, 0.937);
    padding: 20px;
    transition: .3s;
}

#sources-head{
    display: flex;
    justify-content: space-between;
}

#sources-head-inner{
    display: flex;
    align-items: center;
}

#source-close{
    margin-right: 6px;
}

#sources-content{
    width:100%;
    height: 100%;
    margin: 20px 0px;
}

#source-empty{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggle-source-tab{
    position: absolute;
    right:0px;
    top:0px;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

#toogle-src-btn{
    width:50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

#toogle-src-btn:hover{
    background-color: rgba(215, 206, 206, 0.937);
}

/* Sources End */

#message-container{
    width:100%;
    height: 100%;
    margin: 20px 0px;
    overflow: auto;
}

#menu-toggle{
    position: absolute;
    top:20px;
    background-color: #ffffff;
    z-index: 4;
    padding: 10px 12px;
    border-radius: 10px;
    border: solid 1px #b1a9a9;
    font-weight: 500;
    cursor: pointer;
}


#chat-box-container{
    display: flex;
    width: 600px;
    border: 1px solid rgba(179, 170, 170, 0.937);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    left: 0px;
}

#chat-box-container textarea{
    width: 100%;
    font-size: 14px;
    border: 0px;
    outline: none;
    background-color: transparent;
    height: fit-content;
    overflow: hidden;
}

#submit-btn{
    height: fit-content;
    background-color: #38A3A5;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    color:#ffffff;
    font-size: 14px;
    cursor: pointer;
}

#all-docs{
    margin-top: 10px;
}

@media only screen and (max-width: 1300px) {
    #sources{
        position: absolute;
        z-index: 5;
        right: 0px;
        background-color: #ffffff;
    }
  }

  @media only screen and (max-width: 900px) {
    #chat-box-container{
        width: 96%;
    }

    #sources{
        width: 60% !important;
    }
  }


  @media only screen and (max-width: 800px) {
    #sources{
        position: absolute;
        z-index: 5;
        right: 0px;
        background-color: #ffffff;
    }

    #main-app{
        padding-top: 0px;
    }
  }